.bond-action-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}
.bond-action-card {
  background: #E6E2F1;
}

.bond-action-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

/* Center button text inside cards */
.bond-action-card-button .uik-card__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Increase width of amount input */
.bond-action-card .uik-input__input {
  width: 18ch;
  text-align: right;
}

/* Align input container to the right */
.bond-action-card .uik-pool-actions-token__value {
  margin-left: auto;
}

/* Center token container inside cards */
.bond-action-card .uik-pool-actions-token__token {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.bond-action-card .uik-pool-actions-token__select-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 14px;
}

.bond-action-card .uik-pool-actions-token__select-wrapper svg {
  width: 24px;
  height: 24px;
}


.bond-action-warning {
  text-align: center;
  color: #e74c3c;
}
