.validators-page {
  width: 100%;
  padding: 2.5rem 3.5rem;
}

.validators-page__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.validators-page__filter {
  margin-bottom: 20px;
  display: flex;
  gap: 1rem;
}

.validators-page__id {
  word-break: break-all;
}

.validators-page__stake {
  margin-bottom: 20px;
}

.validators-page__stake .uik-reef-icon {
  height: 1em;
  width: 1em;
  margin-left: 0.25rem;
}

.validators-page__stake-usd {
  margin-left: 0.25rem;
}
