.nft-name--modal{
    font-size: x-large;
    font-weight: bold;
}

.nft-iconurl{
    max-width: 250px;
    border-radius: 20px;
    margin-top: 15px;
}

.nft-view{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-table{
    padding: 4px;
    font-size: 14px;
    background-color: #eff2f6;
    margin-top: 8px;
    border-radius: 10px;
}

.display-table-label{
    font-weight: bold;
    color: #a93185;
}

.nft-box-send-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.nft__button{
    outline: none;
    border: none;
}

.nft-hidden {
    display: none;
}