name: reef-app CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: "**"
  workflow_dispatch:

jobs:
  unit-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Yarn 4.9.2
        run: |
          corepack enable
          corepack prepare yarn@4.9.2 --activate
          yarn --version

      - run: yarn install --immutable
      - run: yarn lint
